<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Agencies</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="/home">HOME</a>
                        <a href="/agencies">AGENCIES</a>
                        <a href="/exoplanets">EXOPLANETS</a>
                        <a href="/planets">PLANETS</a>
                        <a href="/budget">BUDGET</a><br><br>
                        <a href="/spacecrafts">SPACECRAFT</a>
                        <a href="/stars">STARS</a>
                        <a href="#">EVENTS</a>
                        <a href="#">MISSIONS</a>
                        <a href="#">ASTRONAUTS</a>
                    <!--<a href="#">LAUNCH SITES</a>-->
                    </div>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Agencies</h1>

                    <form>
                        <div class="form-group">
                            <label for="agencyid">Agency ID*</label>
                            <input type="text" name="agencyid" id="agencyid" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="agencyname">Agency name*</label>
                            <input type="text" name="agencyname" id="agencyname" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="form-group">
                            <label for="agencycountry">Agency country*</label>
                            <input type="text" name="agencycountry" id="agencycountry" required class="form-element" placeholder="India"/>
                        </div>
                        <div class="form-group">
                            <label for="agencyyear">Year of establishment*</label>
                            <input type="text" name="agencyyear" id="agencyyear" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" value="Submit details">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>