<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Astronauts</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="/home">HOME</a>
                        <a href="/agencies">AGENCIES</a>
                        <a href="/exoplanets">EXOPLANETS</a>
                        <a href="/planets">PLANETS</a>
                        <a href="/budget">BUDGET</a><br><br>
                        <a href="/spacecrafts">SPACECRAFT</a>
                        <a href="/stars">STARS</a>
                        <a href="/space_events">EVENTS</a>
                        <a href="#">MISSIONS</a>
                        <a href="#">ASTRONAUTS</a>
                    <!--<a href="#">LAUNCH SITES</a>-->
                    </div>

            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Exoplanets</h1>

                    <form>
                        <div class="form-group">
                            <label for="astronautid">Astronaut ID*</label>
                            <input type="text" name="astronautid" id="astronautid" required class="form-element" />
                        </div>
                        <div class="form-group">
                            <label for="astronautname">Astronaut  name*</label>
                            <input type="text" name="astronautname" id="astronautname" required class="form-element" />
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Birthdate*</label>
                            <input type="text" name="birthdate" id="birthdate" required class="form-element" />
                        </div>
                        <div class="form-group">
                            <label for="nationality">Nationality*</label>
                            <input type="text" name="nationality" id="nationality" required class="form-element" />
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>