<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Agencies</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="/home">HOME</a>
                        <a href="/agencies">AGENCIES</a>
                        <a href="/exoplanets">EXOPLANETS</a>
                        <a href="/planets">PLANETS</a>
                        <a href="/budget">BUDGET</a><br><br>
                        <a href="/spacecrafts">SPACECRAFT</a>
                        <a href="/stars">STARS</a>
                        <a href="#">EVENTS</a>
                        <a href="#">MISSIONS</a>
                        <a href="#">ASTRONAUTS</a>
                    <!--<a href="#">LAUNCH SITES</a>-->
                    </div>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Exoplanets</h1>

                    <form>
                        <div class="form-group">
                            <label for="exoplanetid">Exoplanet ID*</label>
                            <input type="text" name="exoplanetid" id="exoplanetid" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="exoplanetname">Exoplanet name*</label>
                            <input type="text" name="exoplanetname" id="exoplanetname" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="form-group">
                            <label for="discoveryyear">Discovery Year*</label>
                            <input type="text" name="discoveryyear" id="discoveryyear" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="discoverymethod">Discovery method*</label>
                            <input type="text" name="discoverymethod" id="discoverymethod" required class="form-element" placeholder="direct imaging"/>
                        </div>
                        <div class="form-group">
                            <label for="distancefromearth">Distance from earth*</label>
                            <input type="text" name="distancefromearth" id="distancefromearth" required class="form-element" placeholder="00"/>km
                        </div>
                        <div class="form-group">
                            <label for="hoststarid">Host Star*</label>
                            <input type="text" name="hoststarid" id="hoststarid" required class="form-element" placeholder="00"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" value="Submit details">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>