<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Starborn - Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <section>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="./home">HOME</a>
                        <a href="./agencies">AGENCIES</a>
                        <a href="./exoplanets">EXOPLANETS</a>
                        <a href="./planets">PLANETS</a>
                        <a href="./budget">BUDGET</a><br><br>
                        <a href="./spacecrafts">SPACECRAFT</a>
                        <a href="./stars">STARS</a>
                        <a href="./spaceevents">EVENTS</a>
                        <a href="./missions">MISSIONS</a>
                        <a href="./astronauts">ASTRONAUTS</a><br><br>
                        <a href="./launchsites">LAUNCH SITES</a>
                    </div>
            </header>
            <br>
            <br>
            <br>

            
            <div class="content">
                <br>
                <div class="info">
                    <h2>Like the Cosmos <br><span>Limitless & Infinite</span></h2>
                    <p>Welcome to Starborn - your one-stop destination for all things space-related. 
                        From spacecraft design and exploration missions to planetary research and collaboration with space agencies, 
                        Starborn is at the forefront of the space industry. Our team of experts is dedicated to pushing the boundaries 
                        of what is possible in outer space, with a focus on innovation, sustainability, and exploration. Join us as we 
                        embark on a journey to the stars and beyond, exploring new frontiers and unlocking the mysteries of the universe. 
                        Experience the wonders of space with Starborn - where the possibilities are as limitless and infinite as the cosmos itself.
                    </p>
                    <a href="#" class="info-btn">Explore</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="media-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </section>
    </body>
</html>