<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Agencies</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Login</h1>

                    <form>
                        <div class="form-group">
                            <label for="username">Username*</label>
                            <input type="text" name="username" id="username" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" name="password" id="password" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" value="Submit details">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>