<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Agencies</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="./home">HOME</a>
                        <a href="./agencies">AGENCIES</a>
                        <a href="./exoplanets">EXOPLANETS</a>
                        <a href="./planets">PLANETS</a>
                        <a href="./budget">BUDGET</a><br><br>
                        <a href="./spacecrafts">SPACECRAFT</a>
                        <a href="./stars">STARS</a>
                        <a href="./spaceevents">EVENTS</a>
                        <a href="./missions">MISSIONS</a>
                        <a href="./astronauts">ASTRONAUTS</a><br><br>
                        <a href="./launchsites">LAUNCH SITES</a>
                    </div>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Spacecrafts</h1>

                    <form method="POST" action="{{ url_for('spacecrafts') }}">
                        <div class="form-group">
                            <label for="spacecraftid">Spacecraft ID*</label>
                            <input type="text" name="spacecraftid" id="spacecraftid" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="spacecraftname">Spacecraft name*</label>
                            <input type="text" name="spacecraftname" id="spacecraftname" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="form-group">
                            <label for="inauguraldate">Inaugural Date*</label>
                            <input type="date" name="inauguraldate" id="inauguraldate" required class="form-element"/>
                        </div>
                        <div class="form-group">
                            <label for="manufacturer">Manufacturer*</label>
                            <input type="text" name="manufacturer" id="manufacturer" required class="form-element" placeholder="StarBorn"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" value="Submit details">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>