<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Events</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                    <div class="navigation">
                        <a href="/home">HOME</a>
                        <a href="/agencies">AGENCIES</a>
                        <a href="/exoplanets">EXOPLANETS</a>
                        <a href="/planets">PLANETS</a>
                        <a href="/budget">BUDGET</a><br><br>
                        <a href="/spacecrafts">SPACECRAFT</a>
                        <a href="/stars">STARS</a>
                        <a href="/spaceeventd">EVENTS</a>
                        <a href="/missions">MISSIONS</a>
                        <a href="/sdtronauts">ASTRONAUTS</a>
                    <!--<a href="#">LAUNCH SITES</a>-->
                    </div>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Exoplanets</h1>

                    <form method="POST" action="{{ url_for('spaceevents') }}">
                        <div class="form-group">
                            <label for="eventid">Event ID*</label>
                            <input type="text" name="eventid" id="eventid" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="eventname">Exoplanet name*</label>
                            <input type="text" name="eventname" id="eventname" required class="form-element" placeholder="Starborn"/>
                        </div>
                        <div class="form-group">
                            <label for="eventdate">Event Date*</label>
                            <input type="text" name="eventdate" id="eventdate" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Event description*</label>
                            <input type="text" name="description" id="description" required class="form-element" placeholder="direct imaging"/>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>