<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Starborn - Agencies</title>
        <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h2><a href="#" class="logo">STARBORN</h2>
                <div class="navigation">
                    <a href="home.html">HOME</a>
                    <a href="agencies.html">AGENCIES</a>
                    <a href="exoplanets.html">EXOPLANETS</a>
                    <a href="planets.html">PLANETS</a>
                    <a href="budget.html">BUDGET</a><br><br>
                    <a href="spacecrafts.html">SPACECRAFT</a>
                    <a href="stars.html">STARS</a>
                    <a href="#">EVENTS</a>
                    <a href="#">MISSIONS</a>
                </div>
            </header>
            <section class="section-contact">
                <div class="container">
                    <h1>Stars</h1>

                    <form>
                        <div class="form-group">
                            <label for="starid">Spacecraft ID*</label>
                            <input type="text" name="starid" id="starid" required class="form-element" placeholder="0000"/>
                        </div>
                        <div class="form-group">
                            <label for="starname">Spacecraft name*</label>
                            <input type="text" name="starname" id="starname" required class="form-element" placeholder="Star"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" value="Submit details">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>